/* Coolors Exported Palette - coolors.co/ffbe0b-fb5607-ff006e-8338ec-3a86ff */
/* HSL */
/* RGB */
section {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  animation: bgChange 20s linear infinite;
  -webkit-animation: bgChange 20s linear infinite; }

.bgPulse {
  width: 100%;
  height: 100%; }
  .bgPulse span {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff; }
    .bgPulse span:nth-child(3n+1) {
      background: transparent;
      border: 1px solid #fff; }
    .bgPulse span:nth-child(2n+1) {
      background: transparent;
      border: 1px solid #fff; }
    .bgPulse span:nth-child(1) {
      top: 50%;
      left: 2%;
      animation: animate 10s linear infinite;
      -webkit-animation: animate 10s linear infinite; }
    .bgPulse span:nth-child(2) {
      bottom: 2%;
      left: 5%;
      animation: animate 8s linear infinite;
      -webkit-animation: animate 8s linear infinite; }
    .bgPulse span:nth-child(3) {
      top: 9%;
      left: 6%;
      animation: animate 4s linear infinite;
      -webkit-animation: animate 4s linear infinite; }
    .bgPulse span:nth-child(4) {
      top: 35%;
      left: 10%;
      animation: animate 13s linear infinite;
      -webkit-animation: animate 13s linear infinite; }
    .bgPulse span:nth-child(5) {
      bottom: 15%;
      left: 17%;
      animation: animate 18s linear infinite;
      -webkit-animation: animate 18s linear infinite; }
    .bgPulse span:nth-child(6) {
      bottom: 4%;
      left: 45%;
      animation: animate 7s linear infinite;
      -webkit-animation: animate 7s linear infinite; }
    .bgPulse span:nth-child(7) {
      top: 4%;
      right: 60%;
      animation: animate 11s linear infinite;
      -webkit-animation: animate 11s linear infinite; }
    .bgPulse span:nth-child(8) {
      top: 7%;
      right: 10%;
      animation: animate 1s linear infinite;
      -webkit-animation: animate 1s linear infinite; }
    .bgPulse span:nth-child(9) {
      top: 50%;
      right: 5%;
      animation: animate 14s linear infinite;
      -webkit-animation: animate 14s linear infinite; }
    .bgPulse span:nth-child(10) {
      bottom: 4%;
      right: 2%;
      animation: animate 9s linear infinite;
      -webkit-animation: animate 9s linear infinite; }
    .bgPulse span:nth-child(11) {
      top: 30%;
      right: 1%;
      animation: animate 2s linear infinite;
      -webkit-animation: animate 2s linear infinite; }
    .bgPulse span:nth-child(12) {
      bottom: 2%;
      right: 25%;
      animation: animate 5s linear infinite;
      -webkit-animation: animate 5s linear infinite; }
    .bgPulse span:nth-child(13) {
      bottom: 17%;
      right: 12%;
      animation: animate 12s linear infinite;
      -webkit-animation: animate 12s linear infinite; }
    .bgPulse span:nth-child(14) {
      top: 4%;
      right: 20%;
      animation: animate 9s linear infinite;
      -webkit-animation: animate 9s linear infinite; }
    .bgPulse span:nth-child(15) {
      top: 6%;
      right: 32%;
      animation: animate 16s linear infinite;
      -webkit-animation: animate 16s linear infinite; }

.hero-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%; }
  .hero-cta .cta__header {
    color: #fff; }
    @media screen and (max-width: 48em) {
      .hero-cta .cta__header {
        font-size: 1.2em;
        display: flex;
        flex-direction: column; } }
    @media screen and (max-width: 38.625em) {
      .hero-cta .cta__header {
        font-size: 1.1em;
        display: flex;
        flex-direction: column; } }
  .hero-cta p {
    color: #3a86ff; }
    @media screen and (max-width: 48em) {
      .hero-cta p {
        font-size: 1em;
        display: flex;
        flex-direction: column; } }
    @media screen and (max-width: 38.625em) {
      .hero-cta p {
        font-size: .8em;
        display: flex;
        flex-direction: column; } }
  .hero-cta .cta__name {
    animation: hero__headerAnimate 12s infinite 0s linear;
    -webkit-animation: hero__headerAnimate 12s infinite 0s linear;
    color: #ff006e; }
  .hero-cta .cta__notice {
    color: #3a86ff; }
  .hero-cta .cta__intro {
    color: #fff; }
  .hero-cta .fa-smile-wink {
    color: white; }
  @media screen and (max-width: 48em) {
    .hero-cta {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      width: 40%;
      height: 30%; } }

.hero__btn {
  border: 1px solid #3a86ff;
  background: transparent;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  box-sizing: border-box; }
  .hero__btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #3a86ff;
    color: #fff;
    z-index: -1;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s; }

.cta__button {
  border: 1px solid #3a86ff;
  padding: 0.8125em 1.25em;
  position: relative; }
  .cta__button::before {
    bottom: 0; }
  .cta__button:hover::before {
    height: 100%;
    color: #fff;
    background: #3a86ff; }

.fa-angle-double-down {
  position: absolute;
  color: #3a86ff;
  bottom: 1%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

@-webkit-keyframes hero__headerAnimate {
  0% {
    color: #ff006e; }
  51% {
    color: #ffbe0b;
    font-weight: 900; }
  100% {
    color: #ff006e;
    font-weight: 900; } }
@-webkit-keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    -webkit-transform: scale(0) translateY(0) rotate(0deg);
    -moz-transform: scale(0) translateY(0) rotate(0deg);
    -ms-transform: scale(0) translateY(0) rotate(0deg);
    -o-transform: scale(0) translateY(0) rotate(0deg);
    opacity: 1; }
  100% {
    transform: scale(1) translateY(-50px) rotate(360deg);
    -webkit-transform: scale(1) translateY(-50px) rotate(360deg);
    -moz-transform: scale(1) translateY(-50px) rotate(360deg);
    -ms-transform: scale(1) translateY(-50px) rotate(360deg);
    -o-transform: scale(1) translateY(-50px) rotate(360deg);
    opacity: 0; } }
@-webkit-keyframes bgChange {
  0% {
    background: #07121e; }
  50% {
    background: #0c1e33; }
  100% {
    background: #07121e; } }

/*# sourceMappingURL=hero.css.map */
