@import '../partials/palette';
@import '../partials/variables';
@import '../partials/media_queries';

.section-header {
    text-align: center;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 14px;
    color: $font-color;
}
.section-border {
    border-bottom: 3px solid $font-color;
    width: 60px;
    text-align: center;
    margin: 0 auto;
}


 .icons-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    // flex-wrap: wrap;
    margin: $tbt-margin;
    width: 95%;
    max-width: 95%;

}
.icons {
    text-align: center;
    justify-content: center;
    padding: .6em;
    color: $brand-color;
}
.icons-head {
    font-size: 2em;
    font-weight: 800;
    color: $font-color;
}
.icons-paragragh {
    font: 400;
    font-size: 1em;
}

.icon-col {
   flex: 0 0 28%;
   padding: 1em 1em;
}

// OCTAGON ABOUT BG
// #octagon {
//     width: 100px;
//     height: 100px;
//     background: $brand-color;
//     position: relative;
// }
// #octagon:before {
//     content: "";
//     width: 100px;
//     height: 0;
//     position: absolute;
//     top: 0;
//     left: 0;
//     border-bottom: 29px solid $brand-color;
//     border-left: 29px solid #fff;
//     border-right: 29px solid #fff;
// }
// #octagon:after {
// content: "";
//     width: 100px;
//     height: 0;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     border-top: 29px solid $brand-color;
//     border-left: 29px solid #fff;
//     border-right: 29px solid #fff;
// }