@import '../partials/palette';
@import '../partials/variables';
@import '../partials/media_queries';

@mixin deskTopFirst($media) {
  @media screen and (max-width: $media/16+em) { @content; }
}

@include deskTopFirst(960) {

}
@include deskTopFirst(685) {

}
@include deskTopFirst(441) {

}

.icons-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

}
.icons {
  text-align: center;
  justify-content: center;
  padding: .6em;
  color: $brand-color;
}
.icons-head {
  font-size: 2em;
  font-weight: 600;
  color: $font-color;

  @include deskTopFirst(685) {
    font-size: 1.5em;
    font-weight: 600;
  }
}
.icons-paragragh {
  font-weight: 400;
  font-size: 1em;
}

.icon-col {
  flex: 0 0 25%;
  padding: 1em 1em;
}


// CARD STYLE
.about-card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
figure.snip0056 {
  font-family: $header-font;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 380px;
  max-width: 480px;
  width: 100%;
  background: $white;
  color: $brand-bg;
}

figure.snip0056 > img {
  width: 50%;
  border-radius: 50%;
  border: 4px solid $white;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  position: relative;
  float: right;
  right: -18%;
  z-index: 1;
}
figure.snip0056 figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  left: 0;
  width: 50%;
}
figure.snip0056 figcaption h2,
figure.snip0056 figcaption p {
  margin: 0;
  text-align: left;
  padding: 10px 0;
  width: 100%;
}
figure.snip0056 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
figure.snip0056 figcaption h2 span {
  font-weight: 800;
  color: $accent-color;
}
figure.snip0056 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
  padding: .1em;
}
figure.snip0056 figcaption .about-icons {
  width: 100%;
  text-align: left;
}
figure.snip0056 figcaption .about-icons i {
  font-size: 1.625em;
  padding: .5em;
  top: 50%;

  &:hover {
      color: $brand-color;
  }
}
figure.snip0056 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -ms-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  color: $brand-color;
}
figure.snip0056 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0056 figcaption a:focus {
    color: darken($color: $brand-color, $amount: 20%);
} 

figure.snip0056 .position {
  width: 100%;
  text-align: left;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: $white;
  background: $brand-bg;
  clear: both;
}
figure.snip0056:hover > img,
figure.snip0056.hover > img {
  right: -12%;
}