@import '../partials/media_queries';
@import '../partials/palette';
@import '../partials/variables';

.contact__sub-header {
    font-size:  2.8125em;
    font-weight: 800;
    margin-bottom: .4em;
    color: darken($color: $brand-color, $amount: 5%);
}
.contact__sub-header-2 {
    font-size: 1.25em;
    margin-bottom: .4em;
    color: $brand-color;
}
.contact__notice {
    font-size: 1.125em;
}
.contact-btn {
    background: $brand-color;
    border: none;
    padding: 1em;
    text-transform: uppercase;
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
    cursor: pointer;
    width: auto;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    
    &:hover {
        color: lighten($color: $brand-color, $amount: 10%);
        background: darken($color: $brand-color, $amount: 5%);
        box-shadow: $box-shadow-2;
    }
    &:focus {
        box-shadow: $box-shadow;
    }

    @include deskTopFirst(768) {
        width: 95%;
    }
}
.contact-btn, .fa-envelope {
    font-size: 1.3em;
    color: darken($color: $brand-color, $amount: 20%);
    @include deskTopFirst(436) {
        font-size: .8em;
    }
}
.fa-envelope {
    @include deskTopFirst(768) {
        margin-right: 1.5em;
    }
}