@import '../partials/media_queries';
@import '../partials/palette';
@import '../partials/variables';

.contact__sub-header {

    font-size: 2.8125em;
    font-weight: 600;
    margin-bottom: .4em;
    color: darken($color: $brand-color, $amount: 5%);

    @include deskTopFirst(685) {
        font-size: 2em;
        font-weight: 500;
    }
}

.contact__sub-header-2 {

    font-size: 1.25em;
    margin-bottom: .4em;
    color: $brand-color;

    @include deskTopFirst(685) {
        font-size: 1em;
    }
}

.contact__notice {

    font-size: 1.125em;

    @include deskTopFirst(685) {
        font-size: .8em;
        text-align: justify;
    }
}

.contact-btn {

    background: $brand-color;
    border: none;
    outline: none;
    padding: 1em;
    text-transform: uppercase;
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
    cursor: pointer;
    width: auto;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;

    &:hover {

        background: darken($color: $brand-color, $amount: 5%);

        box-shadow: 0 8px 16px 0 rgba($color: $brand-color, $alpha: .7);
    }

    &:focus {

        box-shadow: 0 4px 8px 0 rgba($color: $brand-color, $alpha: .1);
    }

    @include deskTopFirst(768) {
        width: 95%;
    }
}

.contact-btn,
.contact-envelope {

    font-size: 1.3em;
    color: $white;
    font-family: $main-font;

    @include deskTopFirst(436) {
        font-size: .8em;
    }
}

.contact-envelope {

    @include deskTopFirst(768) {
        margin-right: 1.5em;
    }
}
