@import '../partials/palette';
@import '../partials/variables';
@import '../partials//media_queries';

header {
	position: sticky;
	top: 0;
	transition: all .5s linear .1s;
	box-shadow: $box-shadow-3;
    -webkit-transition: all .5s linear .1s;
    -moz-transition: all .5s linear .1s;
    -ms-transition: all .5s linear .1s;
	-o-transition: all .5s linear .1s;
	z-index: 10;
	border-bottom: 2px solid $brand-color;

	@include deskTopFirst(511) {
		position: sticky;
		top: 0;
	}
}

nav {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1em;
	padding: 1em;
	background: $white;
	width: 100%;
	max-width: 100%;

    & ul{
        display: flex;

        & li {
            list-style: none;
            transform: translateX(100rem);
			animation: slideIn .5s forwards;
        }
	}
	
	@include deskTopFirst(700) {
		max-width: 100%;
		font-size: .6em;
		padding: .4em;
	}
	@include deskTopFirst(511) {
		display: inline-block;
		max-width: 100%;
		font-size: .6em;
		padding: .4em;
	}
	@include deskTopFirst(480) {
		font-size: .6em;
	}
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

.primary-nav a{
    padding: 1em 0em;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
    transition:all .3s ease-in-out .1s;
    -webkit-transition:all .3s ease-in-out .1s;
    -moz-transition:all .3s ease-in-out .1s;
    -ms-transition:all .3s ease-in-out .1s;
	-o-transition:all .3s ease-in-out .1s;
	color: $brand-color;
    &:hover {
        color: darken($color: $accent-color, $amount: 20%) !important;
	}
	&:focus {
		color: lighten($color: $accent-color, $amount: 5%);
	}
	@include deskTopFirst(511) {
		margin: 0 1em;
	}
}

nav ul li a:last-child{
	margin-right: 0;

	@include deskTopFirst(511) {
		margin-right: auto;
	}
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: $accent-color;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;

	@include deskTopFirst(600) {
		height: 1px;
	}
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
	@include deskTopFirst(511) {
		transform-origin: none;
	}
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}


nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

.current {
	color: $accent-color !important;
	transition: all .6s linear .1s;
	-webkit-transition: all .6s linear .1s;
	-moz-transition: all .6s linear .1s;
	-ms-transition: all .6s linear .1s;
	-o-transition: all .6s linear .1s;
}

@-webkit-keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}