/* Coolors Exported Palette - coolors.co/ffbe0b-fb5607-ff006e-8338ec-3a86ff */
/* HSL */
/* RGB */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: all .5s linear .1s;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.61);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.61);
  -webkit-transition: all .5s linear .1s;
  -moz-transition: all .5s linear .1s;
  -ms-transition: all .5s linear .1s;
  -o-transition: all .5s linear .1s;
  z-index: 10;
  border-bottom: 2px solid #3a86ff;
}

@media screen and (max-width: 31.9375em) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  background: #fff;
  width: 100%;
  max-width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  -webkit-transform: translateX(100rem);
          transform: translateX(100rem);
  -webkit-animation: slideIn .5s forwards;
          animation: slideIn .5s forwards;
}

@media screen and (max-width: 43.75em) {
  nav {
    max-width: 100%;
    font-size: .6em;
    padding: .4em;
  }
}

@media screen and (max-width: 31.9375em) {
  nav {
    max-width: 100%;
    font-size: .6em;
    padding: .4em;
  }
}

@media screen and (max-width: 30em) {
  nav {
    font-size: .6em;
  }
}

nav ul li:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

nav ul li:nth-child(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

nav ul li:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

nav ul li:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.primary-nav a {
  padding: 1em 0em;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
  transition: all .3s ease-in-out .1s;
  -webkit-transition: all .3s ease-in-out .1s;
  -moz-transition: all .3s ease-in-out .1s;
  -ms-transition: all .3s ease-in-out .1s;
  -o-transition: all .3s ease-in-out .1s;
  color: #3a86ff;
}

.primary-nav a:hover {
  color: #990042 !important;
}

.primary-nav a:focus {
  color: #ff1a7d;
}

@media screen and (max-width: 31.9375em) {
  .primary-nav a {
    margin: 0 1em;
  }
}

nav ul li a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 31.9375em) {
  nav ul li a:last-child {
    margin-right: auto;
  }
}

.current {
  color: #ff006e !important;
  transition: all .6s linear .1s;
  -webkit-transition: all .6s linear .1s;
  -moz-transition: all .6s linear .1s;
  -ms-transition: all .6s linear .1s;
  -o-transition: all .6s linear .1s;
}

@-webkit-keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=navigation.css.map */