@import '../partials/media_queries';
@import '../partials/palette';
@import '../partials/variables';

.note__quote {
    font-size: 2em;
    font-weight: 700;
    margin-top: 1.3em;
    color: $accent-color;

}
.note__quote2 {
    font-size: 1.5em;
    font-weight: 300;
    color: $accent-color;
}

.disqus-wrapper {
    background: $light-gray;
    padding: 1em;
}