$accent-color: #13f442; //Malachite -- Green
$accent-dark: #00a823; //Dark Pastel Green -- Dark Green
$dark-red: #a80019; // Carmine -- Dark-Brown:Red
$medium-red: #ff2d4d; // Radical Red -- Pink:Red
$gray: #868e96;
$light-gray: #f1f3f5;
$semi-light-gray: #ccc;
$extra-light-gray: #f8f9fa;
$white: #ffffff;
$font-color: #1c1532;
$brand-font: #280100;
$unique-black: #1c1532;