$brand-color: rgba(58, 134, 255, 1);
$accent-color: rgba(255, 0, 110, 1);
$rainbow1: rgba(255, 190, 11, 1);
$rainbow2: rgba(251, 86, 7, 1);
$rainbow3: rgba(131, 56, 236, 1);
$gray: #9a8f97;
$light-gray: #f1f3f5;
$semi-light-gray: #c3baba;
$extra-light-gray: #f8f9fa;
$white: #fff;
$brand-bg: #07121e;
$font-color: #040a11;
$brand-font: rgba(58, 134, 255, 1);
$brand-font2: rgba(255, 0, 110, 1);


/* Coolors Exported Palette - coolors.co/ffbe0b-fb5607-ff006e-8338ec-3a86ff */

/* HSL */
$color1: hsla(44%, 100%, 52%, 1);
$color2: hsla(19%, 97%, 51%, 1);
$color3: hsla(334%, 100%, 50%, 1);
$color4: hsla(265%, 83%, 57%, 1);
$color5: hsla(217%, 100%, 61%, 1);

/* RGB */
$color1: rgba(255, 190, 11, 1);
$color2: rgba(251, 86, 7, 1);
$color3: rgba(255, 0, 110, 1);
$color4: rgba(131, 56, 236, 1);
$color5: rgba(58, 134, 255, 1);